* {
  margin: 0;
  padding: 0;
}

:root {
  --font-family-primary: "Marcellus SC", serif;
  --font-family-secondary: "Thasadith", sans-serif;
  --font-weight-regular: 300;
  --font-weight-bold: 900;
  --color-1: #16778c;
  --color-2: #2999a6;
  --color-3: #33a6a6;
  --color-4: #a0d9be;
  --color-5: #f2ebc4;
  --font-style-h1: 3rem;
  --font-style-h2: 2.25rem;
  --font-style-h3: 1.25rem;
  --font-style-body: 1rem;
}

body {
  background: url("../images/nature_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
}

.nav-bar {
  background-color:#33a6a6c9;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border-style: dashed; */
}

.home-link {
  font-family: var(--font-family-primary);
  font-size: 3rem;
  text-decoration: none;
  color: var(--color-5)
}

.nav-link {
  text-decoration: none;
}

.ham-menu {
  width: 3vh;
}

.hamburger-list {
  list-style-type: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  font-family: var(--font-family-secondary);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topic-header {
  max-width: 100%;
  padding: 2vh;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  margin: 1vh;
  text-align: center;
}

.article {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 2vh;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  margin: 1vh;
}

.article img {
  max-width: 100%;
}
