/* Color Theme Swatches in Hex */
.Abstract-clear-blue-water-in-blurred-background-concept-1-hex { color: #16778C; }
.Abstract-clear-blue-water-in-blurred-background-concept-2-hex { color: #2999A6; }
.Abstract-clear-blue-water-in-blurred-background-concept-3-hex { color: #33A6A6; }
.Abstract-clear-blue-water-in-blurred-background-concept-4-hex { color: #A0D9BE; }
.Abstract-clear-blue-water-in-blurred-background-concept-5-hex { color: #F2EBC4; }

