/* Color Theme Swatches in Hex */
.Abstract-clear-blue-water-in-blurred-background-concept-1-hex {
  color: #16778c;
}
.Abstract-clear-blue-water-in-blurred-background-concept-2-hex {
  color: #2999a6;
}
.Abstract-clear-blue-water-in-blurred-background-concept-3-hex {
  color: #33a6a6;
}
.Abstract-clear-blue-water-in-blurred-background-concept-4-hex {
  color: #a0d9be;
}
.Abstract-clear-blue-water-in-blurred-background-concept-5-hex {
  color: #f2ebc4;
}
